<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identifier</key>
	<string>TestPlistBiome</string>
	<key>testItem1</key>
	<string>item1</string>
	<key>testItem2</key>
	<integer>0</integer>
	<key>testItem3</key>
	<real>1</real>
	<key>testItem4</key>
	<false/>
</dict>
</plist>
