<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test_item_1</key>
	<string>item1</string>
	<key>test_item_2</key>
	<integer>0</integer>
	<key>test_item_3</key>
	<date>2017-03-01T03:00:00Z</date>
	<key>test_item_4</key>
	<false/>
</dict>
</plist>
